<section class="hero is-fullheight has-text-centered" id="contact">
    <div class="hero-body">
        <div class="container">

            {% unless site.email == %}
            <a id="contact-button" href="mailto:{{site.email}}"
                class="glow"
                target="_blank">
                <i class="fas fa-envelope"></i>&nbsp Send me an Email
            </a>
            {% endunless %}

            <div class="column is-full is-size-3">
                {% unless site.github_username == %}
                <a href="http://www.github.com/{{site.github_username}}" target="_blank" class="has-text-black"><i
                        class="fab fa-github"></i></a>
                        
                {% endunless %}

                {% unless site.sketchfab_username == %}
                <a href="http://www.sketchfab.com/{{site.sketchfab_username}}" target="_blank" class="has-text-black"><i
                   class="fa fa-sketchfab" aria-hidden="true"></i>

                {% endunless %}

                {% unless site.soundcloud_username == %}
                <a href="https://soundcloud.com/{{site.soundcloud_username}}" target="_blank" class="has-text-black"><i
                        class="fa fa-soundcloud" aria-hidden="true"></i>

                    {% endunless %}

                    {% unless site.artstation_username == %}
                    <a href="https://artstation.com/{{site.artstation_username}}" target="_blank"
                        class="has-text-black"><i class="fa fa-artstation" aria-hidden="true"></i>

                        {% endunless %}

            </div>
        </div>
    </div>
</section>