<div class="navbar-item has-dropdown is-hoverable">
    <a href="/blog" class="navbar-item">BLOG & MORE</a>
    <div class="navbar-dropdown has-background-black is-left">
        {% for sitepage in site.html_pages %}
        {% unless sitepage.url == '/' or sitepage.url == '/404' or sitepage.url == '/artwork' or sitepage.url ==
        '/3d-models' or sitepage.url == '/music' or sitepage.url == '/cluenotepadpp' or sitepage.url == '/tuner' or sitepage.url == '/dcoder' or sitepage.url == '/lastfmfiddler'  or sitepage.url == '/privacy-policy' or sitepage.url == '/clue-notepad' or sitepage.url == '/wakey-wakey' or sitepage.url == '/apps' or sitepage.url == '/apppp' or sitepage.url == '/skills' or sitepage.url == '/support' or sitepage.url == '/maze' %}
        <a href="{{sitepage.url | absolute_url}}"
            class="navbar-item has-text-grey-light {% if page.url == sitepage.url | absolute_url  %}is-active{% endif %}">
            {{sitepage.title}}
        </a>
        {% endunless %}
        {% endfor %}
    </div>
</div>