
//audio player 

.mplayer
{
  margin-left: 100px;
  margin-right: 100px;
  height: 600px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .mplayer{

width: 100%;
margin-left: 0px;
margin-right: 0px;
margin-bottom: 10px;
height: auto;
}}


audio {
  position: relative;
  width: 100%;
  height: 50px;
}

.soundcloud
{

  margin-left: 100px;
  margin-right: 100px;
}

@media (max-width: 768px) {
  .soundcloud{
width: 100%;
margin-left: 0px;
margin-right: 0px;
}}




.wrapper{
  margin: auto;
  border: 5px solid #360000;
  padding: 15px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  align-items: left;
}

@media (max-width: 1024px) {
    .info {
display: none;
    }}




.headers 
{
height: 35px;
display:flex;
flex-direction: row;
justify-content: space-between;
width: 100%;
}

@media (max-width: 1024px) {
  .headers {
display: none;
}}


.hd_playlist
{
  margin-left: -25px;
  width: 20%;
  font-weight: 600;
}


.hd_analyser
{
  width: 60%;
}

.hd_details
{
  margin-right: -25px;
  width: 25%;
  font-weight: 600;
}

.hd_playlist .hd_analyser .hd_details 
{
  flex: 1;
}

.modules {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.playlist .list .canvas .info {
  flex: 1; 
  z-index: 2;
}


.playlist  { 
  height: 210px;
  display: flex;
  margin-left: 0px;
  max-width: 20%;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  min-width: 160px;
}

@media (max-width: 1024px) {
  .playlist {
  height: 210px;
  position: absolute;
  z-index: 2;
  display: flex;
  left: 0; 
  right: 0; 
  margin-top: 5px;
  margin-left: auto; 
  margin-right: auto; 
  width: 160px; /* Need a specific value to work */
  max-width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  align-items: center;
  z-index: 3;
}}

::-webkit-scrollbar {
  display: none;
}


#canvas {
  position: relative;
  height: 300px;
  width: 60%;
  z-index: 2;
  border: 2px solid #360000;
  border-radius: 20px;
}

@media (max-width: 1024px) {
  #canvas{
z-index: 2;
width: 100%;
height: 220px;
margin-left: 0px;
margin-right: 0px;
}}


.info {
  font-size: 1rem;
  width: 20%;
}



.listButton
{
    padding: 5px;
    display: flex;
    justify-content: center;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    height: 25px;
    width: 160px;
    align-items: center;
    z-index: 3;
}


@media (max-width: 1024px) {
  .listButton
{
  display: flex;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 160px;
}
}


.listButton:focus
{
    margin: auto;
    background: rgb(255, 55, 72);
    color: #fff !important;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    height: 25px;
    width: 160px;
}

@media (max-width: 1024px) {
.listButton:focus
{
    margin: auto;
    background: rgb(255, 55, 72);
    color: #fff !important;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    height: 25px;
    width: 160px;
}
}


.now-playing {
font-size: 1rem;
}

.track-name {
font-size: 2rem;
}


.track-artist {
margin-top: 5px;
font-size: 1.5rem;
}

.buttons {
display: flex;
flex-direction: row;
align-items: center;
margin-bottom: 20px;
color: rgb(29, 0, 0);
width: 100%;
}

@media (max-width: 1024px) {
  .buttons{
    margin: 0 px;
    width: 100%;
    justify-content:space-between;
    
  }
}

.active{
    color: rgb(94, 94, 94);
}
.repeat-track,
.random-track,
.playpause-track,
.prev-track,
.next-track,
.bars,
.osciloscope
{
padding: 15px;
opacity: 0.8;
transition: opacity .2s;
}

.repeat-track:hover,
.random-track:hover,
.playpause-track:hover,
.prev-track:hover,
.next-track:hover ,
.bars:hover,
.osciloscope:hover
{
opacity: 1.0;
}

.slider_container {
margin-left: auto; 
margin-right: auto;
display: flex;
justify-content: center;
align-items: center;
width: auto;
}

@media (max-width: 1024px) {
.slider_container{
width: auto;
margin-top: 15px;
margin-left: 0px;
margin-right: 0px;
}}


.slider_container_vol {
  margin-left: auto;  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  }

  @media (max-width: 650px) {
    .slider_container_vol  {
  display: none;
    }}

.slider_seek, .slider_volume {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
height: 10px;
background: #310240;
-webkit-transition: .2s;
transition: opacity .2s;
}

.slider_seek::-webkit-slider-thumb,
.slider_volume::-webkit-slider-thumb {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
width: 15px;
height: 15px;
background: white;
border: 10px solid #000000;
cursor: grab;
border-radius: 100%;
}

.slider_seek:hover,
.slider_volume:hover {
opacity: 1.0;
}

.slider_seek {
width: 100%;
}

.slider_volume {
width: 50%;
}



.current-time,
.total-duration {
  padding: 10px;
  width:150px; 
  max-width:150px;  
  display: inline-block;
  font-size: 20;
}

@media (max-width: 1024px) {
  .current-time,
  .total-duration {
  display: none;
  }}
  


i.fa-volume-down,
i.fa-volume-up {
padding: 15px;
}

@media (min-width: 1024px) {
  .downloadss {
display: none;
  }}


.download
{
  border: none;
}


#scrollButton, #recentPlaylistBtn, #allPlaylistBtn
{
 
    background-color: #1d0000;
    border: 4px solid #1d0000;
    border-radius: 10px;
    box-sizing: border-box;
    color: #dddddd;
    padding: 1%;
    cursor: pointer;
    margin: 5px;  
    display: flex;
}


/* EQ style */
.equalizer {
  z-index: -1;
  display: flex;
  justify-content: space-evenly;
  width: auto;
  height: 260px;
  margin: 100px;
  margin-top: auto;
  border: 5px solid #360000;
  border-radius: 20px;
  box-shadow: rgba(0,0,0,.3) 0px 19px 38px,rgba(0,0,0,.22) 0px 15px 12px;
}

.slider-container {
  margin-top: 90px;
  text-align: center;
}

#resetequalizerbtn {
background-color: #1d0000;
border-radius: 10px;
padding: 3px;
width: 50px;
height: 30px;
color:#ffffff;
font-size: 0.5 rem;
}

.slider {
  -webkit-appearance: none;
  width: 70px;
  height: 300px;
  background: #111; 
  outline: 2px solid #fff; 
  transform: rotate(-90deg);
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}


.slider::-moz-range-thumb {
  width: 10px;
  height: 20px;
  background: #fff;
  outline: 2px solid #000; 
  cursor: pointer;
  border-radius: 50%; 
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); 
}


#eq-125,
#eq-250,
#eq-500,
#eq-1000,
#eq-1500,
#eq-2000,
#eq-4000,
#eq-5500,
#eq-8000,
#eq-16000 {
  width: 120%;
  height: 20px;
}

.label {
  font-size: 0.75rem;
  margin-top: 60px;
  margin-left: 20px;
  color: #ffffff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.75); 
}


.channelstrip {
  user-select: none;
  background: rgb(20, 20, 20); 
  box-shadow: 0 0 0 2px rgba(100, 100, 100, 1);
  border-radius: 4px;
  padding: .25rem;
  margin: .25rem;
  width: 4rem;
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.channelstrip .label {
  font-family: 'VT323', monospace;
  font-size: .75rem;
  text-transform: uppercase;
  background: #333; 
  color: rgba(255, 255, 255, 0.8); 
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5); 
}

.channelstrip .fader {
  position: relative;
  flex-grow: 1;
  margin: 3rem 0 3rem 0;
}

.channelstrip .fader .fader-track {
  position: absolute;
  top: 0;
  bottom: 0;
  width: .25rem;
  left: 50%;
  margin-left: -.125rem;
  background: rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0 -1px 0 0 rgba(255, 255, 255, .25) inset;
}

.channelstrip .fader .fader-thumb {
  position: absolute;
  z-index: 1;
  width: 2rem;
  height: 4rem;
  left: 50%;
  margin-left: -1rem;
  background: linear-gradient(0deg, #888, #444); 
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
  cursor: move;
}

.channelstrip .horizontal-meter {
  height: .5rem;
  background: #000;
  border-radius: 1px;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, .05);
}


.equalizer {
  margin-top: 10px;
  display: none;
  position: absolute;  
  top: 650px; 
  left: 0;
  right: -10;
  background-color: #ffffff; 
  padding: 10px;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.5);
  transition: left 0.3s ease-in-out; 
  z-index: 100;
}

.equalizer.active {
  display: flex;
  margin-top: 40px;
}

.valg
{
margin-bottom: 55px;
}

.minfo{
}

.toggle-equalizer {
  margin-left: 15px;
}

@media (max-width: 1024px) {
  .equalizer.active{
    bottom: 1200px; 
    
  }  }


@media (max-width: 1024px) {
  .toggle-equalizer,
  .equalizer,
  .current-time,
  .total-duration {
  display: none;

  }
}
  