//DCoder

#message{
    height: 150px;
    width: 700px;
    margin: 0;
  }
  
  @media (max-width: 768px)
  {  
    #message  {
      height: 100px;
      max-width: 200px;
      margin: auto;
   }}
  
  #output {
    height: 150px;
    width: 700px;
    margin: 0;
  }
  
  @media (max-width: 768px)
  {  
    #output  {
      height: 100px;
      max-width: 200px;
      margin: auto;
   }}
  
   #keyword
  {
    height: 100%;
    margin: 0;
    max-width: 300px;
    margin: auto;
  }
  
  @media (max-width: 768px)
  {  
    #keyword  {
      height: 100%;
      max-width: 300px;
      margin: auto;
   }
  }
  