---
---

@import "main.scss";
@import "audioplayer.scss";
@import "tuner.scss";
@import "lightbox.scss";
@import "dcoder.scss";
@import "animated.scss";
@import "pages.scss";
@import "modelviewer.scss";
@import "navbarfooterbtn.scss";
@import "lastfmfiddler.scss";
@import "labirynth.scss";


#hero {
  scroll-snap-align: center;
  height: 100vh;
  perspective: 10px;
  background: rgba(0, 0, 0, 100);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 100%);
  background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);

  &::before {
      filter: blur(0.15rem);
      background-image: url({{site.heroimage}});
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      position: absolute;
      opacity: 0.25;
      content: "";
  }
}

@media (max-width: 1024px) {
#hero {
  scroll-snap-align: center;
  scroll-snap-type: mandatory !important; 
  background: none;
  filter: none;

  &::before {
      filter: none;
      background-image: url({{site.logoimage}});
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain ;
      background-attachment: fixed;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      position: absolute;
      opacity: 0.25;
      content: "";
  }
}
}

.fheader {
  font-size: 100%;
  font-weight: 400;
  color: #fff;
}

.title {
  margin: auto 0.75rem!important;
}


.subtitle {
  letter-spacing: 0.25rem;
}

#about {
scroll-snap-align: center;
scroll-snap-type: mandatory !important; 
height: 100vh;
background-image: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%, rgba(255,255,255,1) 100%), url("https://pxreyoeukohfhvbwcbgd.supabase.co/storage/v1/object/public/pstorage/renders/earth.jpg"); /* The image used */
background-color: #ffffff; /* Used if the image is unavailable */
background-position: center; 
background-repeat: no-repeat; 
background-size: cover; 
perspective: 10px;

  .image {
      max-width: 20vmax;
      margin: auto;

      img {
          border: 0.25rem dotted black;
      }
  }

  a {
      min-width: 25vmax;
      margin: 0.5rem;
      
  }
}

#contact {
  height: 100vh;
  scroll-snap-align: center;
  scroll-snap-type: mandatory !important; 
}


#contact-button {
  align-items: center;
  background-color: transparent;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 5px;
}

#blog {
  .hero-body {
      padding: 3rem 0.25rem 1rem 0.25rem;
      background-color: white ;
  }

  .container {
      margin: 1.5rem auto;
  }

  #blog-card {
      transition: all 0.25s ease;
      margin-bottom: 0.5vmax;
      transform: scale(0.85);
      margin-right: 2.5vmax;
      margin-left: 2.5vmax;
      line-height: normal;
      border-radius: 2rem;
      -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);

      &:hover {
          transform: scale(0.875);
          -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
      }

      @media (max-width: 768px) {
          transform: scale(1);
          margin-bottom: 5vmax !important;

          &:hover {
              transform: scale(1.025);
              margin-bottom: 5vmax !important;
              -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
              box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
              box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
          }

          .image {
              padding-top: 50% !important;
          }
      }

      .title {
          margin: 0.5rem !important;
      }

      .content {
          margin: 0.5rem;
      }

      .column {
          display: grid;

          .image {
              border-radius: 2rem;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
          }
      }
  }
}

#search {
  border-bottom: 0.15rem solid;

  input {
      border: none;
      outline: none;
      font-weight: 500 !important;

      &::placeholder {
          font-weight: 500;
          color: grey;
          letter-spacing: 0.25rem;
      }
  }

  .button {
      transition: all 0.25s ease;
      &:focus {
          outline: 0.25rem solid white;
      }

      border: none;
  }
}



#post {
  @media (min-width: 768px) {
      margin: auto 2.5vmax;
  }
  a {
      text-decoration: underline;
  }
  #title {
      text-decoration: none;
  }
  .title {
      margin: auto;
  }
  #post-image {
      border-radius: 0.25rem;
  }
  .subtitle {
      letter-spacing: 0.05rem;
  }

  #description {
      margin-bottom: 1.25vmax;
  }

  .tag {
      margin: 0.15rem auto;
  }
  .content {
      ol, ul, blockquote {
          display: inline-block;
      }
      hr{
          background-color: grey;
      }
      img, iframe {
          max-width: calc(100% - 25vw);
          margin: 0.25rem auto;
          @media (max-width: 768px) {
              max-width: calc(100% - 5vw);
          }
      }
      ul, ol {
          display: inline-block;
      }
  }

  .container {
      margin: 2.5rem auto;
      word-break: break-word;
  }

  #disqus_thread {
      margin-top: 5vmax;
  }
}


#page-section { 
  .content {

      ul, ol, blockquote {
        scroll-snap-align: center;
          overflow: scroll;
          display: inline-block;
      }
  }
}

@media (max-width: 1024px) {
#page-section {
  width: 100%;
  margin: 0px;
  .content {


      ul, ol, blockquote {
          overflow: scroll;
          display: inline-block;
      }
  }
}
}

//sidebars

//common

  #sidebar {
    position: fixed;
    z-index: 2;
    top: 0;
    right: -350px; /* Sidebar initially hidden */
    width: 350px;
    height: 100%;
    background-color: #333;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease;
  }
  #sidebar h2 {
    color: white;
  }

    //controlls for future playground
  #controls {
    list-style: none;
    padding: 0;
  }

  #controls li {
    margin-bottom: 15px;
  }

  #controls label {
    display: block;
    margin-bottom: 5px;
    color: white;
  }

  #controls input {
    width: 100%;
  }

  #toggleBtn {
    position: fixed;
    top: 60px;
    right: 40px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: 24px;
  }

  #sidebar_text 
  {
    color: #ffffff;
    margin-top: 70px;
    a {
      color: #af5959;
    }
  }




  //cookie banner
  #cookie-consent-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    padding: 10px;
    text-align: center;
    z-index: 9999;
  }
  
  #cookie-consent-banner a {
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
    z-index: 9999;
  }
  
